$font-path: "../assets/fonts";

$app-direction: ltr;

$colors: (
  primary:    #e8c355,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #70685c,
  dark-grey:  (base: #343434, contrast: #222),
  grey:       #343434,
  gold:       #e8c355,
);

$background-color: linear-gradient(#222, #666666);
$text-input-highlight-color-valid: #666666;
$text-input-ios-highlight-color: #666666;

ion-content{
  background-color: #2d2d2d;
  color: #2d2d2d;
  justify-content: center;
}

ion-card {
  position: relative;
  display: block;
  align-items: center;
  alignment: center;

  border-radius: 10px;
  border: 1.5px solid #e8c355;
  background: #666666;
  max-width: 600px;
  color: #C0C0C0;
  text-align: center;
}

on-button {
  padding-top: 150px;
}

ion-card-header{
  text-align: center;
  align-items: center;
}

h1{
  color: #e8c355;
}

h2{
  color: #e8c355;
}

h3{
  color: #e8c355;
}


p{
  color: #e8c355;
}

div.table.ion-col{
  border: 1.5px solid rgb(178, 175, 169);
}

.user-avatar-round{
  border-radius: 50%;
}

.menu-row {
  background: linear-gradient(#222, #666666);
}

.drop {
  background: linear-gradient(#222, #444442);
}

h4{
  color: #e8c355;
}

h2{
  color: #e8c355;
}

#menu-content {
  background: linear-gradient(#222, #222);
}

.toolbar-background {
  background: linear-gradient(#343434, #222);
}

$toolbar-ios-background: dark-grey;
$toolbar-md-background: dark-grey;
$toolbar-wp-background: dark-grey;

$toolbar-md-title-text-color: #e8c355;
$toolbar-ios-title-text-color: #e8c355;
$toolbar-wp-title-text-color: #e8c355;

.scroll-bar-indicator
{
  opacity: 0;
}
::-webkit-scrollbar
{
  display: none;
}



