<script src="../../../../../media/simone/BB94-33C5/app/app.component.ts"></script>
<ion-split-pane>
  <!-- logged in menu -->
  <ion-menu overflow-scroll="false" id="loggedInMenu" *ngIf="showMenu" [content]="content">

    <ion-header>
      <ion-toolbar color="dark">
        <ion-title><h4>Menu</h4></ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content id="menu-content" overflow-scroll="false">
      <div #header>
        <ion-row style="align-items:center;">
          <ion-col col-6>
            <img class="user-avatar-round" [src]="chosenPicture || placeholder" onerror="this.src='assets/imgs/LogoDNBG.png'" menuClose (click)="openPage('ProfilePage')"/>
          </ion-col>
        </ion-row>
        <ion-row style="justify-content: center;">
          <p style="padding-bottom: 30px"></p>
        </ion-row>
      </div>
      <button ion-item detail-none class="menu-row" (click)="toggleDriver()">
        <h2>Merchants</h2>
        <ion-icon color="gold" item-right [name]="isDriverShown ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
      </button>
      <ion-list *ngIf="isDriverShown">

        <ion-item menuClose *ngFor="let p of merchant" text-wrap class="drop" (click)="loaddr(p)">


          <h4>
            {{p.name}}
          </h4>
        </ion-item>
      </ion-list>
      <ion-list >

        <ion-item class="menu-row" menuClose (click)="openPage(DashboardPage)">

          <h2>
            Dashboard
          </h2>
          <ion-icon color="gold" item-right name="list-box"></ion-icon>
        </ion-item>

        <ion-item class="menu-row" menuClose (click)="loadDCMProducts()">

          <h2 style="color: #ffa100">
            Jeff's Place
          </h2>
          <ion-icon color="gold" item-right name="list-box"></ion-icon>
        </ion-item>

        <ion-item class="menu-row" menuClose (click)="loadJeffsProducts()">

          <h2 style="color: #ffa100">
            DCM
          </h2>
          <ion-icon color="gold" item-right name="list-box"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-content>

  </ion-menu>



  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
