page-driverfuturerides {

  ion-card.adv-map {
    max-width: 500px;
    color: black;
  }

  .card {
    border-radius: 10px;
    border: 1.5px solid #e8c355;
    background: linear-gradient(#343434, #222);
  }

  .item-bold {
    font-weight: bold;
  }

  .alignleft {
    float: left;
  }
  .alignright {
    float: right;
  }
  h1{
    font-size: 1em !important;
    font-weight: bold;
  }
  .vp-row {
    padding-top: -5px;
    padding-bottom: -5px;
    margin-top: -5px;
    margin-bottom: -5px;
    border-bottom:  black;
  }

  .card {
    border-radius: 10px;
    border: 1.5px solid #e8c355;
    background: linear-gradient(#343434, #222);
  }

  .back {
    background: linear-gradient(#343434, #222);
    color: #e8c355;
  }

  .headings {
    color: #e8c355;
  }

}
