<!--
  Generated template for the PassjoinridePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <!--<ion-navbar [swipeBackEnabled]="false">-->
    <ion-navbar>
    <ion-title>Join a Driver's Ride</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid >
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-card *ngFor="let ride of RidesArray" class="adv-map">
        <ion-item text-wrap>
          <h1 class="item-bold">Ride Details</h1>
          <div class="table">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <h5>Date:</h5>
                </ion-col>
                <ion-col>
                  <span ion-text item-start class="item-bold">{{ride.DepartureDate}}</span>
                </ion-col>
              </ion-row>
              <ion-row class="vp-row">
                <ion-col>
                  <h5>Time:</h5>
                </ion-col>
                <ion-col>
                  <span ion-text item-start class="item-bold">{{ride.DepartureTime}}</span>
                </ion-col>
              </ion-row>
              <ion-row class="vp-row">
                <ion-col>
                  <h5>Start location:</h5>
                </ion-col>
                <ion-col>
                  <span ion-text item-start class="item-bold">{{ride.StartHub}}</span>
                </ion-col>
              </ion-row>
              <ion-row class="vp-row">
                <ion-col>
                  <p>Address:</p>
                </ion-col>
                <ion-col>
                  <p>{{ride.DriverStartLocation}}</p>
                </ion-col>
              </ion-row>
              <ion-row class="vp-row">
                <ion-col>
                  <h5>End location:</h5>
                </ion-col>
                <ion-col>
                  <span ion-text item-start class="item-bold">{{ride.EndHub}}</span>
                </ion-col>
              </ion-row>
              <ion-row class="vp-row">
                <ion-col>
                  <p>Address:</p>
                </ion-col>
                <ion-col>
                  <p>{{ride.DriverEndLocation}}</p>
                </ion-col>
              </ion-row>
              <ion-row class="vp-row">
                <ion-col>
                  <h5>Number of Seats Available:</h5>
                </ion-col>
                <ion-col>
                  <span ion-text item-start class="item-bold">{{ride.AvailSeats}}</span>
                </ion-col>
              </ion-row>
              <ion-row class="vp-row">
                <ion-col>
                  <h5>Cost:</h5>
                </ion-col>
                <ion-col>
                  <span ion-text item-start class="item-bold">{{ride.BaseCost}} Credits</span>
                  <span ion-text item-start color="subtle">({{ride.Distance/1000}} Km)</span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item  *ngIf="ride.CanAfford" text-wrap>
                    <ion-row padding-top>
                      <button ion-button (click) = "JoinRequest(ride)">
                        <ion-icon name="card"></ion-icon>
                        <div padding>Ask to Ride Along</div>
                      </button>
                    </ion-row>
                  </ion-item>

                  <ion-item  *ngIf="!ride.CanAfford" text-wrap>
                    <ion-row>
                      <ion-col>
                        You need more credits to book this trip!
                      </ion-col>
                      <ion-col>
                      <button ion-button (click) = "TopUp('TopupPage')" small>
                        <ion-icon name="card"></ion-icon>
                        <div padding>Please Top Up</div>
                      </button>
                      </ion-col>
                    </ion-row>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-item>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
