

page-startaparty {

  .card {
    border-radius: 10px;
    border: 1.5px solid #e8c355;
    background: linear-gradient(#343434, #222);

  }

  .back {
    background: linear-gradient(#343434, #222);
    color: #e8c355;
  }

  .item-bold {
    font-weight: bold;
  }

  #head {
    color: #e8c355;
  }


}
